<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
    <add key="Rauland VSTS Repo" value="https://raulandborg.pkgs.visualstudio.com/_packaging/REnterprise/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="Rauland-Borg package source" value="true" />
    <add key="TFS Ametek Repo" value="true" />
  </disabledPackageSources>
</configuration>
